* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #cfe1be;
  font-family: Palatino Linotype;
}
h2 {
  color: black;
}
li {
  text-align: left;
}
main {
  margin-top: 300px;
  margin-left: 300px;
}
h2 > a {
  color: blue;
}
